{{ include('templates/header.html') }}
<div class="container">
    <div class="card mb-3">
        <div class="card-img-top">
            <img class="image-large" src="../public/images/{{ article.id}}.jpg">
        </div>

        <div class="card-body">
            <h1>{{ article.title }}</h1>
            <p class="card-text">{{ article.text }}</p>
            <p class="card-text"><small class="text-muted">{{ article.createdAt }}</small></p>
        </div>
        {% if isAdmin %}
        <div class="button-pair">
            <form method="get" action="/edit/{{ article.id }}">
                <button class="btn btn-primary">Edit</button>
            </form>
            <form method="post" action="/delete/{{ article.id }}">
                <button class="btn btn-primary" type="submit" onclick="confirm('Are you sure?')">Delete</button>
            </form>
        </div>
        {% endif %}
    </div>
    {{ include('templates/comments.html') }}
</div>

